@{
    ViewData["Title"] = "Movie Form Submitted";
}

@model Mission6_Katiew8.Models.MovieResponse

<h2> The Movie you inputted has been submitted!</h2>
<h4> Thanks for the information on @Model.Title !</h4>

